{{#postsList.0}}
	{{> partials/postsListPager}}

	<hr />
{{/postsList.0}}

{{#postsList}}
	{{. | var_dump}}
	<article>
		<header>
			<h2><a href="{{#buildUrl}}blog showPost {{name}}{{/buildUrl}}">{{title}}</a></h2>
			<p>
				<small><i class="icon-time"></i>&nbsp;{{creationDate}} · <i class="icon-user"></i>&nbsp;{{author}} · <i class="icon-comment"></i>&nbsp;<a href="{{#buildUrl}}blog showPost {{name}}{{/buildUrl}}#comments">{{#__}}comments{{/__}}</a></small>
			</p>
		</header>

		<section>{{{content}}}</section>
	</article>
	<hr />
{{/postsList}}
{{^postsList}}
	<p class="muted">{{#__}}emptyPostsList{{/__}}</p>
{{/postsList}}

{{#postsList.0}}
	{{> partials/postsListPager}}
{{/postsList.0}}