{{%FILTERS}}

{{#postsList.0}}
	{{> partials/postsListPager}}

	<hr />
{{/postsList.0}}

{{#postsList}}
	<article>
		<header>
			<h2><a href="{{#buildUrl}}blog showPost {{name}}{{/buildUrl}}">{{title}}</a></h2>
			<p><small>
				<i class="icon-time"></i>&nbsp;<time datetime="{{publishedAt | date_rfc3339}}">{{publishedAt | date}}</time>
				· <i class="icon-user"></i>&nbsp;{{author}}{{#tagsData.0}}
				· <i class="icon-tags"></i>&nbsp;{{#tagsData}}{{^first?}}, {{/first?}}<a href="{{WEBSITE_ROOT}}/{{url}}">{{name}}</a>{{/tagsData}}{{/tagsData.0}}
				· <i class="icon-comment"></i>&nbsp;<a href="{{#buildUrl}}blog showPost {{name}}{{/buildUrl}}#comments">{{commentsCount}} {{#strtolower}}{{#__}}comments{{/__}}{{/strtolower}}</a>
			</small></p>
		</header>

		<section>{{{content}}}</section>

		{{#hasExcerpt}}
			<br>
			<p><a href="{{#buildUrl}}blog showPost {{name}}{{/buildUrl}}#excerpt-separator" class="btn">Lire la suite</a></p>
		{{/hasExcerpt}}
	</article>
	<hr />
{{/postsList}}
{{^postsList}}
	<p class="muted">{{#__}}emptyPostsList{{/__}}</p>
{{/postsList}}

{{#postsList.0}}
	{{> partials/postsListPager}}
{{/postsList.0}}
